#header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   width: 100%;
  }
  #title-block {
   display:flex;
   justify-content: left;
   align-items: center;
  }
  #search {
  width: 400px;
   font-size: 14px;
  }
  .icon {
     margin-right: 10px;
    }
    #home-link {
       text-decoration: none;
        color: whitesmoke;
      } 







 
    
  


